
<!DOCTYPE html>
<html>
    <head>
        <title> Agregar Tarea </title>
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.css">
         <link rel="stylesheet" href="/static/boot/css/example.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.js">
    </head>
    <body>
        <div class="container">
            <div class="row">                
                <div class="masthead">
                  
                    <h3 class="text-muted"> PMI </h3>                    
                    
                    <ul class="nav nav-justified" >
                        <li class="col-md-4 col-lg-4 "><a href="http://127.0.0.1:8000/proyectos/" class="brand">Proyectos</a></li>
                        <li class="col-md-5 col-lg-5"><a href="http://127.0.0.1:8000/crear_proyecto/" class="brand">Crear proyecto</a></li>
                        <li class="active col-md-6 col-lg-6"><a href="http://127.0.0.1:8000/Editar_proyecto/" class="brand">Editar proyecto</a></li>
                    </ul>

                </div>
            </div>
            <br> 
            </br>
            <br> 
            </br>
            <br> 
            </br>
            <div class="row"> 
                <div class="col-lg-offset-3 col-lg-6"> 
            
                    <form role="form" >
                        <div class="form-group">
                            <label for="ejemplo_tarea_1">Nombre de la tarea</label>
                            <input type="tarea" class="form-control" id="ejemplo_tarea_1"placeholder="Nombre tarea">
                        </div>
                        <div class="form-group">
                            <label for="ejemplo_proyecto_1">Proyecto al que pertenece</label>
                            <div class="input-group">
                                    <div class="input-group-btn">
                                        <select id="select-proyecto" class="form-control priority-value">
                                            <option value="todo">Seleccione proyecto</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="ejemplo_fechai_1">Fecha de inicio</label>
                            <input type="date" class="form-control" id="ejemplo_fechai_1"  >
                        </div>
                        <div class="form-group">
                            <label for="ejemplo_fechaf_1">Fecha final</label>
                            <input type="date" class="form-control" id="ejemplo_fechaf_1" >
                        </div>

          
                        <button type="submit" class="btn btn-default col-lg-offset-5">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
