<!DOCTYPE html>
<html>
    <head>
        <title> Crear proyecto </title>
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.css">
         <link rel="stylesheet" href="/static/boot/css/example.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="/static/boot/css/bootstrap.min.js">
    </head>
    <body>
        <div class="container">
            <div class="row">                
                <div class="masthead">
                  
                    <h3 class="text-muted"> PMI</h3>                    
                    
                    <ul class="nav nav-justified" >
                        <li class="col-md-4 col-lg-4 active"><a href="http://127.0.0.1:8000/proyectos/" class="brand">Proyectos</a></li>
                        <li class="col-md-5 col-lg-5"><a href="http://127.0.0.1:8000/crear_proyecto/" class="brand">Crear proyecto</a></li>
                        <li class="col-md-6 col-lg-6"><a href="http://127.0.0.1:8000/Editar_proyecto/" class="brand">Editar proyecto</a></li>
                    </ul>

                </div>
            </div>
            <br> 
            </br>
            <br> 
            </br>
            <br> 
            </br>
            <div class="row">
            	<div class="col-lg-8 col-lg-offset-2">
            		<table class="table table-striped table-bordered">
            			<thead>
	            			<tr>
	     						<th>Nombre</th>
	     						<th>Fecha inicio</th>
	     						<th>Fecha final</th>
	     						<th>porcentaje</th>
	     						<th>Descripcion</th>
	     						
	  						</tr>
 						</thead>
            			<tr>
  							<td >Gestor de proyectos</td>
							<td >10/10/2013</td>
							<td >10/10/2014</td>
							<td >50%</td>
							<td >sistema disenado para la gestion de proyectos</td>
						</tr>
						<tr>
  							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
						</tr>
						<tr>
  							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
						</tr>
						<tr>
  							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
						</tr>
						<tr>
  							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
							<td >...</td>
						</tr>
            		</table>

            	</div>
            </div>
            
        </div>
    </body>
</html>
